body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://raw.githubusercontent.com/johnrobertmcc/ForeverNoted/master/app/assets/images/animal-crossing-opaque.png");
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(66, 185, 153, 0.5);
}

.gen-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
