body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: peachpuff;
}

.gen-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
